::-moz-selection {
  background: #FCD5CE;
  color: white;
}

::selection {
  background: #FCD5CE;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.galeria {
  background-image: -webkit-gradient (linear, left top, left bottom, from (#FCD5CE), color- stop (90%, blue));
  background-image: linear-gradient(to bottom, #FCD5CE, blue 90%);
  font-family: "Montserrat", sans-serif;
}

.galeria h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: "Abril Fatface", cursive;
  padding-bottom: 20px;
  padding-top: 50px;
  font-weight: normal;
}

.contenedorGaleria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)(3);
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  padding-bottom: 60px;
  grid-gap: 10px;
}

.contenedorGaleria h2 {
  position: absolute;
  bottom: 0;
  font-size: 15px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from (rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  width: 100%;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.contenedorGaleria .imgGaleria {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.itemGaleria {
  position: relative;
}

.itemGaleria h2 {
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0;
}

.itemGaleria:hover h2 {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.itemGaleria:nth-child(4) {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

.itemGaleria:nth-child(5) {
  -ms-grid-row: span 2;
      grid-row-start: span 2;
}

.itemGaleria:nth-child(9) {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

/* TAMANO TABLET---------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 768px) {
  .contenedorGaleria {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .contenedorGaleria h2 {
    font-size: 14px;
  }
  .contenedorGaleria .itemGaleria:nth-child(3) {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
  }
  .contenedorGaleria .itemGaleria:nth-child(4) {
    -ms-grid-column: span 3;
        grid-column-start: span 3;
  }
  .contenedorGaleria .itemGaleria:nth-child(5) {
    -ms-grid-row: span 3;
        grid-row-start: span 3;
  }
  .contenedorGaleria .itemGaleria:nth-child(9) {
    -ms-grid-column: span 3;
        grid-column-start: span 3;
  }
}

/* TAMANO desktop-------------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 1024px) {
  .contenedorGaleria {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    width: 95%;
    margin: auto;
  }
  .contenedorGaleria h2 {
    font-size: 16px;
  }
  .contenedorGaleria .itemGaleria:nth-child(1) {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
    -ms-grid-row: span 2;
        grid-row-start: span 2;
  }
  .contenedorGaleria .itemGaleria:nth-child(4) {
    -ms-grid-column: span 3;
        grid-column-start: span 3;
    -ms-grid-row: span 3;
        grid-row-start: span 3;
  }
}

@media (max-width: 552px) {
  .galeria h1 {
    padding-top: 100px;
  }
  .contenedorGaleria {
    display: block;
  }
  .itemGaleria {
    margin-bottom: 25px;
  }
}

@media (max-width: 940px) {
  .galeria h1 {
    padding-top: 100px;
  }
}

.form {
  width: 100%;
}

.contenedorForm {
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 100px;
}

.contenedorForm:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FCD5CE), color-stop(90%, blue));
  background-image: linear-gradient(to top, #FCD5CE, blue 90%);
  z-index: -1;
}

.contenedorForm .contacto {
  max-width: 850px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  border-radius: 7px;
}

.contenedorForm .contacto .izqForm {
  background: url("media/fondoForm.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.contenedorForm .contacto .derForm {
  padding: 25px 40px;
}

.contenedorForm h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 20px;
}

.contenedorForm h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #FCD5CE;
}

.contenedorForm .contForm {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.19);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 8px 16px;
  font-size: 1.1rem;
  margin-bottom: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contenedorForm .contForm:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.contenedorForm input::-webkit-input-placeholder {
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.contenedorForm input:-ms-input-placeholder {
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.contenedorForm input::-ms-input-placeholder {
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.contenedorForm input::placeholder {
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.contenedorForm textarea {
  min-height: 150px;
  resize: none;
}

.contenedorForm textarea::-webkit-input-placeholder {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.contenedorForm textarea:-ms-input-placeholder {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.contenedorForm textarea::-ms-input-placeholder {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.contenedorForm textarea::placeholder {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.contenedorForm .btnForm {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 5px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 5px 3px 8px;
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  background: #FCD5CE;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  outline: none;
  position: relative;
  z-index: 1;
}

.contenedorForm .btnForm:hover {
  cursor: pointer;
}

.contenedorForm .btnForm:hover:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.contenedorForm .btnForm:before {
  content: "";
  border-radius: 5px;
  background-color: blue;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0%;
  opacity: 0;
}

@media (max-width: 940px) {
  .contenedorForm {
    padding-top: 100px;
  }
  .contenedorForm .contForm {
    width: 250px;
  }
}

.header-sitio {
  background-color: aliceblue;
  padding: 16px 0;
}

.header-sitio .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-sitio .header-container .menu-abrir, .header-sitio .header-container .menu-cerrar {
  display: none;
}

@media (max-width: 768px) {
  .header-sitio .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-sitio .header-container h1 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header-sitio .header-container h1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 552px) {
  .header-sitio .header-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header-sitio .header-container h1 {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    margin-bottom: 0;
  }
  .header-sitio .header-container .menu-abrir, .header-sitio .header-container .menu-cerrar {
    display: block;
  }
  .header-sitio .header-container nav {
    position: absolute;
    top: -500%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #FCD5CE;
    padding-top: 14px 0;
    -webkit-transition: top .4s ease-out;
    transition: top .4s ease-out;
    text-decoration: none;
  }
  .header-sitio .header-container nav a {
    color: white;
  }
  .header-sitio .header-container nav:target {
    margin-top: -16px;
    top: 0;
  }
}

.header-sitio .header-container nav {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-sitio .header-container nav a {
  margin-left: 20px;
  padding: 5px 10px;
}

.header-sitio .header-container nav a:hover {
  background-color: #FCD5CE;
  color: white;
}

@media (max-width: 768px) {
  header .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-container h1 {
    margin-bottom: 20px;
  }
}

footer {
  background-color: #292626;
  color: white;
}

footer p {
  text-align: center;
  padding: 12px 0;
  font-size: 12px;
  background-color: #181616;
}

footer i {
  font-size: 26px;
}

footer .footer-content {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  footer .footer-content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 552px) {
  footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-content .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-content .footer-info li:first-of-type {
    margin-right: 20px;
  }
}

footer .footer-content .footer-info {
  font-size: 14px;
}

footer .footer-content .footer-info li:first-of-type {
  margin-bottom: 10px;
}

footer .footer-content .footer-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-content .footer-redes li:first-of-type {
  margin-right: 20px;
}

footer .footer-content .footer-redes li:first-of-type i {
  color: #4242d8;
}

footer .footer-content .footer-redes li:last-of-type i {
  color: #66c2fc;
}

footer .footer-content .footer-redes li i {
  cursor: pointer;
}

.banner {
  height: 600px;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

.index-content {
  margin: 50px auto;
}

.index-content h2 {
  text-align: center;
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .index-content p {
    width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .contenedorSobreMi {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .izq {
    position: relative;
  }
  .izqContenido {
    position: absolute;
    right: -45px;
  }
}

.contenedorSobreMi .izq {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FCD5CE), color-stop(70%, blue));
  background-image: linear-gradient(to bottom, #FCD5CE, blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedorSobreMi .izq .izqContenido > div {
  background: blue;
  padding: 30px 30px 40px 25px;
  text-align: center;
  color: white;
}

.contenedorSobreMi .izqContenido {
  -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.5);
}

.contenedorSobreMi .izqContenido h2 {
  font-size: 25px;
  margin: 20px;
  line-height: 1.2;
  padding-bottom: 10px;
  border-bottom: 2.5px solid white;
}

.contenedorSobreMi .izqContenido h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  margin-top: 20px;
}

.contenedorSobreMi .imgSobreMi {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contenedorSobreMi .imgSobreMi img {
  display: block;
  width: 200px;
}

.contenedorSobreMi .sombra {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
}

.contenedorSobreMi::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  bottom: -20px;
  height: 7px;
  width: 50px;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.contenedorSobreMi .sombra:hover .imgSobreMi {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.contenedorSobreMi .sombra:hover::after {
  opacity: 1;
}

.contenedorSobreMi .der {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 80px;
  text-align: center;
}

.contenedorSobreMi .der h1 {
  font-size: 100px;
  text-transform: uppercase;
}

.contenedorSobreMi .der h1 span {
  color: #FCD5CE;
}

.contenedorSobreMi .der h2 {
  font-weight: bolder;
  font-style: italic;
}

.contenedorSobreMi .sobreMiContenido p {
  padding: 5px;
}

@media (max-width: 940px) {
  .contenedorSobreMi .izq {
    padding-top: 120px;
  }
  .contenedorSobreMi .der {
    padding: 50px 50px;
  }
  .contenedorSobreMi .der h1 {
    font-size: 80px;
  }
  .contenedorSobreMi .der h2 {
    font-size: 20px;
  }
  .contenedorSobreMi p {
    font-size: 14px;
  }
}

nav {
  height: 80px;
  background: #0f0f0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px 0 25px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 8px 10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul li a:hover, nav ul li a.itemActivo {
  color: #0f0f0f;
  background: white;
}

nav .botonMenu i {
  color: white;
  font-size: 28px;
  cursor: pointer;
  margin-right: 40px;
  display: none;
}

nav #checkMenu {
  display: none;
}

nav .logo img {
  width: 55px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

nav .logo img:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

@media (max-width: 940px) {
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  nav ul {
    background: #0f0f0f;
    position: fixed;
    top: 80px;
    left: -100%;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  nav ul li {
    margin: 40px 0;
  }
  nav ul li a {
    font-size: 16px;
    display: block;
  }
  nav ul li a:hover, nav ul li a.itemActivo {
    color: blue;
    background: none;
  }
  nav .botonMenu i {
    display: block;
  }
  nav #checkMenu:checked ~ ul {
    left: -0%;
  }
}
/*# sourceMappingURL=main.css.map */