.key {
    animation-duration: 2s;
}

.key:hover {
    animation-name: escala;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(2, 8, 94, 51);
    animation-delay: 0;
    animation-iteration-count: initial;
}

@keyframes escala {
    0% {
        width: 200px;
        transform: scale(1);
    }
    25% {
        
    }
    50% {
        width: 300px;
        transform: scale(2);
    }
    75% {
        
    }
    100% {
        
    }
}


img:hover{ 
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
