
footer {
    background-color: rgb(41, 38, 38);
    color:white;

    p {
        text-align: center;
        padding: 12px 0;
        font-size: 12px;
        background-color: rgb(24, 22, 22);;
    }
    i {
        font-size: 26px;
    }

    .footer-content {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;

        @media (max-width: 992px) {
            justify-content: space-evenly;
        }

        @media (max-width: 552px) {
            flex-direction: column;
            align-items: center;

            .footer-info {
                display: flex;
                li:first-of-type {
                    margin-right: 20px;
                }
            }
        }

        .footer-info {
            font-size: 14px;

            li {
                &:first-of-type {
                    margin-bottom: 10px;
                }
            }
        }

        .footer-redes {
            display: flex;

            li {
                &:first-of-type {
                    margin-right: 20px;

                    i {                   
                            color: rgb(66, 66, 216)
                    }
                }

                &:last-of-type {
                    i {
                        color: rgb(102, 194, 252)
                    }
                }

                i {
                    cursor: pointer;
                }
            }
        }
    }

}