// ESTILOS GENERALES ------------------------------------------------------------------------------------------------------
// Variables

// tipografias
$tipografiaPrincipal: "Montserrat", sans-serif;
$tipografiaTitulos: "Abril Fatface", cursive;

// colores
$colorPrincipal: #FEC5BB;
$colorPrincipal: #FCD5CE;
$colorPrincipalOp: #F8EDEB;
$colorSecundario: #ffc0cb;
$colorNegro: rgb(218, 125, 171);
$colorNegroPuro: rgb(0, 0, 0);
$colorBlanco: white;
$colorBlancoOp: rgba(255, 255, 255, 0.767);

// selection 
::selection {
  background: $colorPrincipal;
  color: $colorBlanco;
}

// all
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $tipografiaPrincipal;
}

html{
  scroll-behavior: smooth;
}