
.banner {
    height: 600px;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.index-content {
    margin: 50px auto;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    p {
        @media(max-width: 992px) {
            width: 95%;
            margin: 0 auto;
        }
    }
}

// Responsive mixins 
// Bootstrap breakpoints

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}